div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
color: white;
background-color: rgb(44, 198, 250);
border: solid 2px black;
border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(34, 176, 241);
    color: white;
}
.form-box{
    background-color: rgb(44, 198, 250);
    border-radius: 10px;
    width: 600px;
    height: 600px;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 600px;
    margin-right: 300px;
    padding: 40px;
}
.emri{
    border-radius: 5px;
    width: 100%;
    height: 30px;
}
.mbiemri{
border-radius: 5px;
    width: 100%;
    height: 30px;
}
.email{
    border-radius: 5px;
    width: 100%;
    height: 30px;
}
.password{
    border-radius: 5px;
    width: 100%;
    height: 30px;
}
.ditelindja{
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

.reg{
    text-align: center;
    color: white;
}