.rrethnesh{
    text-align: center;

}
div{
    background-color: rgb(44,198,250);
    color: white;

}
.pershkrim{
    margin-left: 20px;
}
.h3{
    margin-top: 60px;
}
h2{
    margin-top: 50px;
}
ul{
    margin-top: 40px;
}
h3{
    margin-top: 70px;
}
img{
    width: 200px;
    height: 200px;
}