.rrethnesh{
    text-align: center;

}
div{
    background-color: rgb(44,198,250);
    color: white;

}
.pershkrim{
    margin-left: 20px;
}
.h3{
    margin-top: 60px;
}
h2{
    margin-top: 50px;
}
ul{
    margin-top: 40px;
}
h3{
    margin-top: 70px;
}


.nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(44, 198, 250);
    border-radius: 3px;
    margin-bottom: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    margin-left: 60px;
}
.linket{
    text-align: center;
    list-style: none;
}
.linket ul{
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.linket a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    margin: 0px 15px;
    transition: color(0.3);
}
.linket a:hover{
    color: black;
    transition: color 0.4s;
}
.btn-login a {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 10px 18px;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  margin-right: -10px;
  margin-left: 600px;
}

.btn-login a:hover{
    background-color: black;
    color: whitesmoke;
    transition: color 0.4s;
}

.btn-signup a {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  margin-right: 40px;
}

.btn-signup a:hover{
    background-color: black;
    color: whitesmoke;
    transition: color 0.4s;
}

.footer {
  background-color: #111;
  color: #ddd;
  padding: 25px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  gap: 20px;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.footer-links a {
  color: #00bfff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #000000; 
}