div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
color: white;
background-color: rgb(44, 198, 250);
border: solid 2px black;
border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(34, 176, 241);
    color: white;
}
.form-box{
    background-color: rgb(44, 198, 250);
    border-radius: 10px;
    width: 600px;
    height: 600px;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 600px;
    margin-right: 300px;
    padding: 40px;
}
.emri{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: solid 1px rgb(44, 198, 250);
}
.mbiemri{
border-radius: 5px;
    width: 100%;
    height: 30px;
    border: solid 1px rgb(44, 198, 250);
}
.email{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: solid 1px rgb(44, 198, 250);
}
.password{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: solid 1px rgb(44, 198, 250);
}

.reg{
    text-align: center;
    color: white;

}
select{
    background-color: white;
    color: rgb(0, 191, 255);
}
.btn-reg{
margin-left: 230px;
background-color: rgb(153, 221, 238);
width: 150px;
height: 35px;
border-radius: 6px;
border: solid 1px rgb(44, 198, 250);
}