.nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(44, 198, 250);
    border-radius: 3px;
    margin-bottom: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    margin-left: 60px;
}
.linket{
    text-align: center;
    list-style: none;
}
.linket ul{
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.linket a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    margin: 0px 15px;
    transition: color(0.3);
}
.linket a:hover{
    color: black;
    transition: color 0.4s;
}
.btn-login a {
  background-color: whitesmoke;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  margin-right: 40px;
}

.btn-login a:hover{
    background-color: black;
    color: whitesmoke;
    transition: color 0.4s;
}
.m h1{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-top: 200px;
}